.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    animation: fadeout 9s linear;
    animation-fill-mode: both;
    z-index: 1;
    &__animation {
        border: 16px solid $colour-primaire; /* Light grey */
        border-top: 16px solid $colour-secondaire; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: loader 2s linear infinite;
        position: fixed;
        box-shadow: -5px -5px $colour-background-darkgrey;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index: 2;
  }
}

main, header, footer {
    animation-name: opacity;
    animation-duration: 3500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.location {
    background-color: $colour-background-lightgray;
    width: 100%;
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.currentLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-background-darkgrey;

    &__icon {
        display: flex;
        font-size: 10px;
        height: auto;
        align-items: center;
        padding-right: 15px;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 35px;
    @include desktop{
        display: block;
        text-align: center;
        padding: 15px;
    }
    @include tablet {
        display: block;
        text-align: center;
        padding: 15px;
    }
    p {
        font-weight: 300;
        margin-top : 10px;
    }
    &__btn {
        @include button;
        @include desktop {
            padding: 20px;
        }
        @include tablet {
            padding: 20px; 
        }
    }
}
.fonctionnementSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;

    &__title {
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        font-family: 'Roboto';
    }
}
.fonctionnement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        gap: 20px;
    }
    &__card {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 12px 20px 12px 32px;
        background-color: $colour-background-lightgray;
        border-radius: 20px;
        box-shadow: 0px 5px 9px 3px rgb(218, 218, 218);
        margin: 0px 0px 20px 10px;
        position: relative;
        cursor: pointer;
        i {
            margin-right: 15px;
        }
        p{
            display: flex;
            justify-content: center;
            justify-items: center;
        }
        &:hover{
            background-color: rgba(147, 86, 220, 0.1);
            i {
                color: $colour-primaire;
            }
        }
    }
    &__number{
        position: absolute;
        background-color: $colour-primaire;
        left: -13px;
        border-radius: 100px;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $colour-background-lightgray;
    width: 100%;
    padding: 40px 20px 40px 20px;
    gap: 20px;
    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 17px;
        background-color: white;
        box-shadow: 0px 5px 9px 3px rgb(218, 218, 218) ;
        width: 100%;
        height: 239px;
        position: relative;
        cursor: pointer;
        img{
            display: flex;
            width: 100%;
            height: 175px;
            object-fit: cover;
            border-radius: 17px 17px 0px 0px;
        }
    }
    &__nouveau {
            position: absolute;
            background-color: $colour-tertiaire;
            color: darken($colour-tertiaire, 50%);
            right: 2em;
            top: 1em;
            padding: 8px;
            font-weight: bold;
            border-radius: 2px;
    }
    &__contenu {
        display: flex;
        align-items: center;
        margin-right: 8px;
        margin-left: 2px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        width: 90%;
            h3, p{
                margin: 6px 0px 0px 8px ;
            }
            p{
                font-weight: 300;
            }
    }
    &__coeur {
        justify-content: center;
        .fa-heart {
            font-size: 26px;
            &:hover {
                background: linear-gradient(#9356dc, #ff79da);
                background-clip: text;
                color: transparent;
                -webkit-background-clip: text;
                transition: all 0.6s linear;
                font-weight: 900;
            } 
        }
    }
}

