header {
    width: 100%;
    box-shadow: 0px 5px 9px 3px rgb(218, 218, 218);
    .header__logo {
        display: flex;
        justify-content: center;
    }
    img {
        width: 50%;
        height: 50%;
        margin: 20px 5px 20px 5px;
    }
}